
# This is a temporary directory that should be removed soon
real_data_pt_ob_verif

# Other temporary directories
tmp_test

# Swap files
*.swp

# Files created by VSCode
.DS_Store

# pycache
__pycache__
